html {
    background-color: #1B1E1F;
}
body {
    display: flex;
    justify-content: center;
    background-image: url('assets/animated3.gif');
    padding: 50px;
}

.logo-background {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.logo-background img {
    margin-top: 45%;
    width: 20%;
}

.logo-background h1 {
    margin-top: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
}

.container {
    width: 800px;
    height: 800px;
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 80px;
}

.left {
    width: 30%;
    height: 100%;
    background-color: transparent;
}

.right {
    width: 70%;
    padding: 5%;
    background-color: white;
    border-radius: 0 80px 80px 0;
}

.right .header {
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.80rem;
    margin-bottom: 40px;
    color: rgb(5, 5, 5);
}

.right .form-container {
    font-family: sans-serif;
    margin-bottom: 40px;
}

.right .footer {
    height: 20%;
}

input {
    font-size: 1rem;
    margin-right: 50px;
    margin-bottom: 15px;
    transition: .5s ease;
}

input {
    border: none;
    border-bottom: 1px solid rgb(230, 230, 230);
    background-color: transparent;
}

input:focus {
    background-color: rgb(244, 251, 253);
    outline: none;
    border-bottom: 1px solid rgb(209, 240, 218);
}

.footer button {
    margin-top: 30px;
    position: relative;
    width: 180px;
    height: 50px;
    border-radius: 10px;
}

button {
    border: none;
    font-weight: bolder;
    background-color: rgb(48, 151, 230);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(68, 163, 236);
}

.valid {
    background-color: rgb(244, 251, 253);
    outline: none;
    border-bottom: 1px solid rgb(209, 240, 218); 
}
.invalid:focus {
    background-color: rgb(239, 212, 212);
    outline: none;
    border-bottom: 1px solid rgb(197, 144, 147);  
}

footer {
    color:white;
}